@model FaaS.MVC.Models.CreateFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CreateFormViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <!--<label asp-for="Created" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger" />
            </div>-->
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <!--<label asp-for="FormCodeName" class="col-md-2 control-label"></label>-->
            <div class="col-md-10">
                <input asp-for="@Model.FormCodeName" type="hidden" class="form-control" />
                <span asp-validation-for="FormCodeName" class="text-danger" />
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="SelectedProjectCodeName" type="hidden" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SelectedProjectCodeName" type="hidden" class="form-control" />
                <span asp-validation-for="SelectedProjectCodeName" class="text-danger" />
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
