@model string

@{
    ViewData["Title"] = "Form input";
    Layout = "~/Views/Shared/_ReactLayout.cshtml";
}

<div id="react-root" class="row col-md-12 col-xs-12"></div>

<script>
    var formElements = @Html.Raw(Model)
</script>
<script src="~/out/form.out.js"></script>
